.landingPage { 
    background: url(../../assets/Landing.jpeg) no-repeat center center; 
    background-size: cover;
    height: 100vh;
    background-position: top;

    &--text-box {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    };
};