  .section-header {
    background-image: linear-gradient(
      to bottom, 
      rgba($color-secondary-light, 0.3), 
      rgba($color-secondary-dark, 0.00)),
      url('../../assets/header_comp.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 100vh;
    position: relative;
  }

  .section-date {
    height: 100vh;
  }

  .section-accept {
    height: 100vh;
  }

  .section-church {
    height: 100vh;
  }

  .section-reception {
    height: 100vh;
  }

  .section-hotel {
    height: 100vh;
  }

  .section-map {
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to bottom, $color-primary, $color-primary-dark);

    @include flex-center;
  }

  .section-contact {
    height: 100vh;
  }